{% extends "base.html" %}

{% block content %}

  <section id="content">

    <header>
      <h1 class="entry-title">
        <a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
           {{ article.title }}
        </a>
      </h1>
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    </header>

    <div class="post-info">
      <abbr class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </abbr>

      {% if article.author and SHOW_ARTICLE_AUTHOR %}
        <address class="vcard author">
          By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </address>
      {% endif  %}
    </div><!-- .post-info -->

    <div class="entry-content">
      {{ article.content }}
    </div><!-- .entry-content -->

  </section>

{% endblock %}
