{% extends "base.html" %}

{% block content %}

  <section id="content">

    <ol id="post-list">

      {% for article in articles_page.object_list %}
        <li class="entry">
          <article >
            <header>
              <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}"
                                         rel="bookmark"
                                         class="nodec"
                                         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
              </h2>
            </header>

            <div class="post-info">
              <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
              {% if article.author and SHOW_ARTICLE_AUTHOR %}
                <address class="vcard author">By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></address>
              {% endif %}
            </div><!-- /.post-info -->

            <div class="summary"> {{ article.summary }} </div><!-- /.entry-content -->
          </article>
        </li>
      {% endfor %}

    </ol><!-- /#posts-list -->

    {% include 'pagination.html' %}

  </section><!-- /#content -->

{% endblock content %}
